Source: linz-postgresql-functions
Section: database
Priority: extra
Build-Depends: debhelper (>= 7),
               postgresql-server-dev-all
Standards-Version: 3.9.5
Maintainer: Ivan Mincik <imincik@linz.govt.nz>
Homepage: http://www.linz.govt.nz
Vcs-Git: git://github.com/linz/linz-postgresql-functions.git
Vcs-Browser: https://github.com/linz/linz-postgresql-functions

Package: linz-postgresql-14-functions
Architecture: all
Depends: ${misc:Depends},
         postgresql-14,
         postgresql-14-postgis-3
Recommends:
Description: Miscellaneous PostgreSQL functions from LINZ.
